.color-selector {
  display: flex;
  gap: 10px;
  margin-bottom: 6px;
}
.color-dot {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ccc;
}
.color-dot.selected {
  border: 2px solid #E6CA97;
} 